<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> BiNOW
        </a>
    </nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='./**'>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='./detail'>Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='./products'>Product</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--Login form-->
            <div class="form-group mx-sm-1">
                <label for="txtEmail" class="sr-only">Email</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Email">
            </div>
            <div class="form-group mx-sm-1">
                <label for="txtPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
            </div>
            <button type="button" class="btn btn-dark my-2 mr-sm-2">ĐĂNG NHẬP</button>
            <button type="button" class="btn btn-light my-2 my-sm-2">ĐĂNG KÝ</button>
        </form>
        <!--//Login form-->
        <!--Welcome-->
        <!-- <h4>WELCOME HUNG</h4>
    <button type="submit" class="btn btn-primary">Đăng xuất</button> -->
        <!--//Welcome-->
    </div>
</nav>